@model DeliveryOnline.Models.Tienda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tienda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegsitro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegsitro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

    </dl>
</div>
<div class="container" id="HolaMundo">
    @Html.Action("ProductoByTienda", "Producto", new { TiendaId = Model.CodigoId })
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.CodigoId }) |*@
    @Html.ActionLink("Volver al inicio", "UserIndex")
</p>
